body{
  margin: 0px;
}

#our-story {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px; 
}

#storyPicture {
  flex-grow: 2;
  margin-right: 6%;
  max-width: 40%;

}

.textContainer {
  display: block;
  flex-grow: 3;
  min-width: 60%
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.button {
color: rgb(109, 220, 209);
border: 1px solid rgb(109, 220, 209);
background-color: transparent;
border-radius: 0.2rem;
margin-top: 0.2rem;
margin: 0 auto;
padding: 5px, 5px, 5px, 5px;
}
.introduction{
padding: 128px;
color: aliceblue;
display: flex;
flex-direction: column;
align-items: center;
}
.logo{
display: flex;
align-items: center;
}

#navbar{
display: flex;
justify-content: space-evenly;
align-items: center;
 
}
#header{ 
background-image: url("./photoshop/design-assets/bgk-header.png");
padding: 16px;
}
.nav-item{ 
color:aliceblue ;
padding: 8px;
font-family:Arial, Helvetica, sans-serif ;
font-size: smaller;
}
.primary{ 
color:aqua;

}
.secondary{
color:aliceblue; 
}
a{
text-decoration: none;
}

#meetTeam{
display: flex;
flex-direction: column;
align-items: center;
background-image: url("./photoshop/design-assets/bgk-header.png");
padding: 32px;
color: aliceblue;

}
#team-cards{
display: flex;
flex-direction: row;
align-items: center;
gap: 8px;
}
.padding{
padding: 8px;
}

.team-member{
width: 128px;
border: aliceblue 1px solid;
font-size: 8px;
color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
}

#contact{
  display: flex;
  margin: 0px auto;
  padding: 32px;
  color: aliceblue;
  justify-content: space-evenly;
  height: 600px;
  gap: 20px;
}

.babydiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}
.contactElement{
width: 100%;
margin: 8px 0;
box-sizing: border-box;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.uppercase2{
color: #333;
text-transform: uppercase;
}
.babydiv2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.logogroup{
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

.brands{
  height: 40px;
  width: 80px;
  -ms-flex-direction: column;
  margin: 25px;
 
}

#video{
  width: 100%;
  height: 600px; 
}

#play{
  height: 180px;
  width: auto;
}

#backgimg1 {
  background-image: url("./photoshop/design-assets/bgk-middle.png") ;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#expertise {
  padding: 0 auto;
  text-align: center; 

}

div .grid {
  margin-top: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 60%;
}

.grid-item {
  margin: 0 auto;
  padding: 2em;
}

.left-item {
  border-bottom: 1px solid rgba(110, 110, 110, 0.521);
}

.middle-item {
  border-bottom: 1px solid rgba(110, 110, 110, 0.521);
  border-left: 1px solid rgba(110, 110, 110, 0.521);
  border-right: 1px solid rgba(110, 110, 110, 0.521);

}

.right-item {
  border-bottom: 1px solid rgba(110, 110, 110, 0.521)

}

.bottom-item {
  border-left: 1px solid rgba(110, 110, 110, 0.521);
  border-right: 1px solid rgba(110, 110, 110, 0.521);
}

.divider {
  width: 50px;
  border-top: 3px solid rgba(110, 110, 110, 0.521);
  margin: 0 auto;
}

footer{
  background-image: url("./photoshop/design-assets/bgk-footer.png");
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;

}
.footer-links{
display: flex;
justify-content: space-between;
padding-top: 32px;
}

.footer-links__font{
color: aliceblue;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;

}
.footer-logo{
display: flex;
align-items:center; 
}

#sectionBen p{
  color: white;
  padding-bottom: 10px;
}

#subscribe {
  background-color: transparent;
  border: 1px solid rgba(221, 221, 221, 0.521);
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
}

#subscribeButton {
  background-color: rgba(221, 221, 221, 0.521);
  padding: 10px;
  font-size: 1em;
  border: none;
  margin-bottom: 10px;
}

.icon{
    position: relative;
    border: 1px white solid;
    margin: 2px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    align-items: center;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    margin-top: 10px;
  }

  .facebook {
    background: url("./photoshop/design-assets/png/facebook.png");
  }