#our-story {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; 
}

#storyPicture {
    flex-grow: 2;
    margin-right: 6%;
    max-width: 40%;

}

.textContainer {
    display: block;
    flex-grow: 3;
    min-width: 60%
}

.uppercase {
    text-transform: uppercase;
}

.button {
    color: rgb(109, 220, 209);
    border: 1px solid rgb(109, 220, 209);
    background-color: transparent;
    border-radius: 0.2rem;
    margin-top: 0.2rem;
    margin: 0 auto;
    padding: 5px, 5px, 5px, 5px;

}

#backgimg1 {
    background-image: url("\photoshop\design-assets\bgk-middle.png");
    background-color: red;
    height: 200px;
  }
